center {
color: white;
}
output {
  color: white
}
.send {
    background-color: rgb(153, 240, 107);
    height: 30px;
    border-radius: 10px;
      }
.change {
    background-color: rgb(247, 110, 97);
    height: 30px;
    border-radius: 10px;
      }
#info {
    display: flex;
    align-content: center;
    padding-left: 20px;
      }
input {
    height: 25px;
    border-radius: 10px;
      }
#trackOutput {
    color: #000000;
    font-size: 20px;
}
h2 {
  color: antiquewhite;
}



/***MEDIA QUERY FOR LARGE SCREENS****/

@media screen and (min-width:800px){
  .col {
   width: 200px;
   font-size: 17px;
   padding-left: 150px;
   background-color: #FBF0F6;
   opacity: 0.6;
   box-shadow: 1px 1px 2px;
  }
  .col>img{
      height:100px;
      width:170px;
    }
    .load{
      height: 70px;
      border-radius: 35px;
    }
    /*****MEDIA QUERY FOR SMALL SCREENS******/
  @media screen and (max-width:800px){
    .col {
     width: 200px;
     font-size: 17px;
     padding-left: 20px;
     background-color: #FBF0F6;
     opacity: 0.6;
     box-shadow: 1px 1px 2px;
    }
    .col>img{
        height:50px;
        width:90px;
      }
      .load{
        height: 50px;
        border-radius: 25px;
      }
  }
