body {
    background-image: url(/img/)
    position: fixed;
    height: 100%;
    }

    #form_data {
        background-color: #D0E9FB;
        height: 280px;
        width: 320px;
        border-radius: 20px;
        box-shadow: 2px 2px 6px;
      }




